
<app-header></app-header>
<header><h3>Add Driver</h3></header>


<body>

  <nav  class="navbar navbar-inverse">
    <div class="container-fluid">
  

<div [hidden]="submitted" style="width: 400px;">

  <form (ngSubmit)="registerZone()">

    
    <div class="form-group ">
      <label for="name">zoneNo</label>
      <input type="text" class="form-control" id="zoneNo" required [(ngModel)]="zone.zoneNo" name="zoneNo">
    </div>

    <div class="form-group">
      <label for="name">zonename</label>
      <input type="text" class="form-control" id="zonename" required [(ngModel)]="zone.zonename" name="zonename">
    </div>



    <button type="submit" class="btn btn-success">Submit</button>

  </form>

</div>
</div>
</nav>

<div [hidden]="!submitted">
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>

 </body>