


<body>


  <div class="container">
    <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>

      

  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
     
      
  
      <div class="form-group">
        <label for="name">password</label>
        <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  </div>
  </div>
  </body>