<header className="app-header">
  
      <div className="app-options">
          <nav  class="navbar navbar-inverse">
           
            <ul class="nav navbar-nav">
                 <li> <a routerLink="/adduser" class="dropdown">User</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a  routerLink="/addDriver" class="dropdown">Driver</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
                  <li> <a  routerLink="/addVehicle" class="dropdown">Vehicle</a> </li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
                  <li> <a  routerLink="/addUsergroup" class="dropdown">Groups</a></li>
             </ul>


             <ul class="nav navbar-nav navbar-right">
               <li> <a  routerLink="/mappings" class="dropdown">ZoneMapping</a></li>
          </ul>
             
             <ul class="nav navbar-nav navbar-right">
              <li> <a  routerLink="/zonelist" class="dropdown">Zone</a></li>
         </ul>

         <ul class="nav navbar-nav navbar-right">
          <li> <a  routerLink="/signup" class="dropdown">signup</a></li>
     </ul>
     
     <ul class="nav navbar-nav navbar-right">
          <li> <a  routerLink="/signiii" class="dropdown">signin</a></li>
     </ul>
         <ul class="nav navbar-nav navbar-right">
          <li> <a  routerLink="/customerlist" class="dropdown">Customer</a></li>
     </ul>
          
           <ul class="nav navbar-nav navbar-right">
                  <li> <a  routerLink="/D-List" class="dropdown">Driver</a> </li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
              <li> <a  routerLink="/groupList" class="dropdown">G-List</a></li>
         </ul>

           <ul class="nav navbar-nav navbar-right">
               <li> <a  routerLink="/v-list" class="dropdown">V-list</a> </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
              <li> <a  routerLink="/reqlist" class="dropdown">R-list</a> </li>
       </ul>
        
       <ul class="nav navbar-nav navbar-right">
          <li> <a  routerLink="/assignRe" class="dropdown">Assign-SSN</a> </li>
   </ul>

   <ul class="nav navbar-nav navbar-right">
     <li> <a  routerLink="/AssignVehcile" class="dropdown">V-Assign</a> </li>
</ul>
   

   <ul class="nav navbar-nav navbar-right">
     <li> <a  routerLink="/suphome" class="dropdown">S-Home</a> </li>
</ul>
<ul class="nav navbar-nav navbar-right">
     <li> <a  routerLink="/backtopcmc" class="dropdown">Asign-PCMC</a> </li>
</ul>
   



        <ul class="nav navbar-nav navbar-right">
              <li> <a  routerLink="/users" class="dropdown">user</a> </li>
         </ul>

         <ul class="nav navbar-nav navbar-right">
              <li> <a  routerLink="/req" class="dropdown">Req</a> </li>
         </ul>

        <ul class="nav navbar-nav navbar-right">
              <li> <a  routerLink="/assing" class="dropdown">assign</a> </li>
       </ul>

       <ul class="nav navbar-nav navbar-right">
          <li>  <a [routerLink]="['/pass1']" class="btn btn-link">frggt</a></li>
      </ul>
          

           <ul class="nav navbar-nav navbar-right">
               <li> <a  routerLink="/profile" class="dropdown">profile</a> </li>
        </ul>
           
           </nav>
      </div>
  
</header>
