
<app-header></app-header>
<header>
  <div class="panel-heading">
   <h2>Request List's</h2>
</div>

<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="badge badge-info" ><a>Email :-</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button   routerLink="/req" class="dropdown"> create Request's </button></li>
    </ul>
  </div>
</nav>

<div>
  
</div>
<div>
    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    

</div>
</header>

<body>
<div class="panel panel-primary">
  
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>RequestNo</th>
          <th>CustomerName</th>
          <th>pickupaddress</th>
          <th>approxweight</th>
          <th>amount </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let requestMst of requestMsts | async">
          <td>{{requestMst.requestnumber}}</td>
          <td>{{requestMst.customername}}</td>
          <td>{{requestMst.pickupaddress}}</td>
          <td>{{requestMst.approxweight}}</td>
          <td>{{requestMst.amount}}</td>
        
          <td><button (click)="deleteDriver(requestMst.requestmasterid)" class="a1">Delete</button>
              <button (click)="driverDetails(requestMst.requestmasterid)" class="b1">Details</button>
              <button (click)="updateDetails(requestMst.requestmasterid)" class="c1">Update</button>
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>