


<div class="container">
  <div class="card card-container">
  
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>



    
    <form name="form" (ngSubmit)="f.form.valid && changed()" #f="ngForm" novalidate>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
         <label for="username">username</label>
          <input type="text" class="form-control" name="username" id="username" pattern="[^ @]*@[^ @]*" [(ngModel)]="user.username" #username="ngModel" required />
           <div *ngIf="f.submitted && !username.valid" class="help-block">

           <div *ngIf="username.errors.required">
          Email is required.
           </div>
           <div *ngIf="username.errors.pattern">
          A valid email address is required
            </div>
        </div>
      </div>
      
      <button class="btn btn-success btn-block" type="submit">forggrot password</button>
    </form>


   
      
  </div>
</div>
